.survey-stages {
  @include section;

  &__container {
    @include container;
  }

  &__title {
    @include title;
  }

  &__info {

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 40px;
      grid-template: 'list authorities' / 3fr 1fr;
    }
  }

  &__list {
    @include clear-list;
    counter-reset: stages;

    @media (min-width: $screen-sm) {
      grid-area: list;
    }
  }

  &__item {
    position: relative;
    padding: 0;
    padding-left: 60px;
    margin: 0;
    counter-increment: stages;

    @media (min-width: $screen-sm) {
      padding-left: 90px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 39px;
      font-weight: 500;
      line-height: 1em;
      letter-spacing: -0.02em;
      content: counter(stages, decimal-leading-zero);

      @media (min-width: $screen-sm) {
        font-size: 56px;
      }
    }

    &:not(:last-child) {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #d9d9d9;
    }

    span {
      color: $primary-c;
    }
  }

  &__item-title {
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3em;

    @media (min-width: $screen-sm) {
      font-size: 28px;
      line-height: 1.2em;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5em;

    @media (min-width: $screen-sm) {
      font-size: 18px;
    }
  }

  &__authorities {
    position: relative;
    padding: 30px 0 0;
    margin: 30px 0 0;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: '';
      background-color: $primary-c;
    }

    @media (min-width: $screen-sm) {
      grid-area: authorities;
      align-self: start;
      padding: 0 0 0 30px;
      margin: 0;

      &::before {
        width: 2px;
        height: 100%;
      }
    }
  }

  &__authorities-title {
    margin: 0 0 15px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.3em;
  }

  &__authorities-list {
    @include clear-list;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__authorities-item {
    padding: 0;
    margin: 0 15px 15px 0;

    a {
      display: block;
    }

    img {
      display: block;
    }
  }
}
