.testimonials {
  @include section;

  &__container {
    @include container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    position: relative;
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    padding-left: 20px;
    margin: 0;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.1em;
    letter-spacing: -0.02em;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      content: '';
      background-color: currentColor;
    }

    @media (min-width: $screen-sm) {
      padding-left: 30px;
      font-size: 39px;
    }
  }

  &__slider {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      margin-top: 45px;
    }
  }

  &__slider-nav {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  &__item {
    display: block;
    cursor: zoom-in;
    border: 1px solid #d9d9d9;
  }
}
