.banner {
  position: relative;
  color: #fff;
  background-color: $bg-c--dark;

  &__content {
    position: relative;
    z-index: 2;
    padding: 240px 20px 45px;

    @media (min-width: $screen-sm) {
      padding: 240px 20px 45px;
    }
  }

  &__container {
    @include container;
  }

  &__blur-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    background: rgba(#fff, 0.25);
    border: 1px solid rgba(#fff, 0.25);
    backdrop-filter: blur(10px);

    @media (min-width: $screen-sm) {
      padding: 30px;
    }
  }

  &__title {
    @include title;

    &--alone {
      margin-bottom: 0;

      @media (min-width: $screen-sm) {
        margin-bottom: 0;
      }
    }
  }

  &__directions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0;
    list-style: none;
    background: rgba(#fff, 0.25);
    border: 1px solid rgba(#fff, 0.25);
    backdrop-filter: blur(10px);

    @media (min-width: $screen-sm) {
      padding: 30px;
    }

    li {
      flex: 0 0 auto;
      width: 20%;
      max-width: 100%;
      padding: 0;
      padding-right: 30px;
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.3em;

      @media (max-width: ($screen-sm - 1px)) {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }

    a {
      display: inline-block;
      color: currentColor;
      text-decoration: none;
      transition: all 125ms $transition-t;

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background: linear-gradient(to bottom, rgba(#000, 0.25) 0%, rgba(#000, 0) 100%);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
