mixin slider-nav(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slider-nav--' + modsList[i].trim();
      }
    }

  .slider-nav(class=allMods)&attributes(attributes)

    button.slider-nav__btn.slider-nav__btn--prev
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 22', width='12', height='22')
        path(stroke='#333', d='M11 1L1 11l10 10')

    button.slider-nav__btn.slider-nav__btn--next
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 22', width='12', height='22')
        path(stroke='#333', d='M1 1l10 10L1 21')