.slider-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  @media (max-width: ($screen-sm - 1px)) {
    display: none;
  }

  .swiper-button-disabled {
    opacity: 0;
  }

  &__btn {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    color: currentColor;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 60px;
    outline: none;
    transition: 125ms $transition-t;

    &::after {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
      content: '';
    }

    svg {
      display: block;
      transform: translateX(1px);
      fill: transparent;

      path {
        stroke: currentColor;
      }
    }

    &:hover:not(.swiper-button-disabled) {
      border-color: $primary-c;
    }

    &--prev {
      margin-right: 0.5rem;

      svg {
        transform: translateX(-1px);
      }
    }
  }

  &--bg-light {

    .slider-navigation__btn {
      background-color: $bg-c;
      border: none;

      &:hover:not(.swiper-button-disabled) {
        color: $text-c--light;
        background-color: $primary-c;
      }
    }
  }
}
