mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)&attributes(attributes)
    .page-header__container

      .page-header__top
        a.logo.page-header__logo(href='/')
          img(src='img/logo--white.svg', alt='', width='60', height='40')
        .page-header__slogan Архитектурно-планировочная мастерская №4
        button.burger.page-header__burger(type='button')
          span

      .page-header__bottom
        nav.page-header__nav
          ul
            li
              a(href='/') Межевание
            li
              a(href='/') Изменение в ПЗЗ
            li
              a(href='/') Заказ
            li
              a(href='/') Наши Проекты
            li
              a(href='/') Контакты
        .page-header__contacts
          ul
            li
              a(href='tel:+74993489898') +7 (499) 348-98-98
            li
              a(href='/')
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 13', width='16', height='13')
                  path(d='M1.09992 5.59647c4.29495-1.83459 7.15893-3.04406 8.59193-3.62842C13.7834.299594 14.6335.00976514 15.1877.00009278c.1218-.00200284.3943.02760992.5709.16803722.149.118573.19.27875.2097.39117.0196.112421.044.368519.0246.56863-.2217 2.28399-1.1811 7.82663-1.6692 10.38477-.2065 1.0824-.6132 1.4453-1.0069 1.4809-.8555.0771-1.5052-.5544-2.3339-1.0869-1.29666-.8334-2.02921-1.3522-3.28787-2.16534-1.45461-.93979-.51165-1.45631.31733-2.30045.21695-.22092 3.98664-3.58255 4.05954-3.8875.0092-.03814.0176-.1803-.0685-.25537-.0862-.07507-.2133-.0494-.3051-.02898-.13.02893-2.2015 1.37129-6.21441 4.02705-.58798.39584-1.12056.58871-1.59773.57861-.52604-.01115-1.53794-.29161-2.29018-.53134C.673328 7.04933-.0599784 6.89387.00387615 6.3945.0371355 6.13439.402482 5.86838 1.09992 5.59647z')
            li
              a(href='/')
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
                  path(fill-rule='evenodd', d='M13.6 2.3C12.1.8 10.1 0 8 0 3.6 0 0 3.6 0 8c0 1.4.400006 2.8 1.10001 4L0 16l4.20001-1.1c1.2.6 2.49999 1 3.79999 1 4.4 0 8-3.6 8-8 0-2.1-.9-4.1-2.4-5.6zM8 14.6c-1.2 0-2.39999-.3-3.39999-.9l-.20002-.1-2.5.7.70002-2.4-.20002-.3c-.7-1.1-1-2.3-1-3.5C1.39999 4.5 4.4 1.5 8 1.5c1.8 0 3.4.7 4.7 1.9 1.3 1.3 1.9 2.9 1.9 4.7 0 3.5-2.9 6.5-6.6 6.5zm3.6-5c-.2-.1-1.2-.6-1.4-.6-.2-.1-.30001-.1-.40001.1-.1.2-.49998.6-.59998.8-.1.1-.20002.1-.40002.1-.2-.1-.79998-.3-1.59998-1-.6-.5-1-1.2-1.1-1.4-.1-.2 0-.3.1-.4.1-.1.19999-.2.29999-.3.1-.1.10001-.2.20001-.3.1-.1 0-.2 0-.3 0-.1-.4-1.1-.6-1.5-.1-.3-.3-.3-.4-.3h-.40002c-.1 0-.3 0-.5.2s-.69998.7-.69998 1.7.69998 1.9.79998 2.1c.1.1 1.4 2.2 3.4 3 1.7.7 2.00001.5 2.40001.5.4 0 1.2-.5 1.3-.9.2-.5.2-.9.1-.9-.1-.5-.3-.5-.5-.6z', clip-rule='evenodd')
