.page-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 0 20px;
  color: #fff;

  &__container {
    @include container;
    position: relative;
  }

  &__top {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(#fff, 0.25);
  }

  &__logo {
    margin-right: 30px;
  }

  &__slogan {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    opacity: 0.75;

    @media (max-width: ($screen-xs - 1px)) {
      display: none;
    }

    @media (min-width: $screen-sm) {
      font-size: 20px;
    }

    @media (min-width: $screen-md) {
      font-size: 28px;
    }
  }

  &__burger {
    margin-left: auto;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__bottom {

    @media (max-width: ($screen-sm - 1px)) {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      padding: 20px;
      color: #333;
      pointer-events: none;
      visibility: hidden;
      background-color: #fff;
      opacity: 0;

      &--is-active {
        pointer-events: all;
        visibility: visible;
        opacity: 1;
      }
    }

    @media (min-width: $screen-sm) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid rgba(#fff, 0.25);
    }
  }

  &__nav {

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      @media (min-width: $screen-sm) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
      }
    }

    li {
      padding: 0;
      margin: 0;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.4em;
      text-transform: uppercase;
      letter-spacing: 0.1em;

      @media (min-width: $screen-sm) {

        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }

    a {
      display: block;
      padding: 5px 0;
      color: currentColor;
      text-decoration: none;
      transition: all 125ms $transition-t;

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  }

  &__contacts {

    @media (max-width: ($screen-sm - 1px)) {
      margin-top: 30px;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      padding: 0;
      margin: 0;
      white-space: nowrap;
      list-style: none;
    }

    li {
      padding: 0;
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.4em;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    a {
      display: block;
      color: currentColor;
      text-decoration: none;

      svg {
        display: block;
        transform: translateY(-1px);
      }
    }
  }
}
