.about-order {
  @include section;

  &__container {
    @include container;
  }

  &__info {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @media (min-width: $screen-sm) {
      gap: 45px 40px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  &__title {
    @include title;
  }

  &__media {

    img {
      display: block;
    }

    @media (min-width: $screen-sm) {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5em;

    @media (min-width: $screen-sm) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      font-size: 18px;
    }
  }

  &__accent {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3em;

    @media (min-width: $screen-sm) {
      font-size: 28px;
      line-height: 1.2em;
    }
  }
}
