@mixin container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

@mixin section {
  padding: 45px 20px;

  @media (min-width: $screen-sm) {
    padding: 60px 20px;
  }
}

@mixin title {
  position: relative;
  max-width: 45ch;
  padding-left: 20px;
  margin: 0 0 20px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.1em;
  letter-spacing: -0.02em;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    content: '';
    background-color: currentColor;
  }

  @media (min-width: $screen-sm) {
    padding-left: 30px;
    margin: 0 0 45px;
    font-size: 39px;
  }
}

@mixin clear-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
