.gallery {
  @include section;

  &__container {
    position: relative;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }

  &__slider-main {
    overflow: hidden;
  }

  &__slider-thumbs {
    overflow: hidden;
  }

  &__slider-nav {
    position: absolute;
    top: 50%;
    right: -120px;
    left: -120px;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    @media (max-width: ($screen-md - 1px)) {
      display: none;
    }
  }
}
