.btn {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 21px 40px;
  margin: 0;
  overflow: hidden;
  font-family: $font-f;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-color: #333;
  background-image: none;
  border: none;
  border-radius: 0;
  transition: all 125ms $transition-t;

  &:hover,
  &:focus {
    background-color: lighten(#333, 10%);
  }

  &--ghost {
    color: #333;
    background-color: transparent;
    border: 1px solid currentColor;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #333;
      border: 1px solid #333;
    }
  }
}
