.seo {
  @include section;

  &__container {
    @include container;
  }

  &__title {
    @include title;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5em;

    @media (min-width: $screen-sm) {
      font-size: 18px;
    }
  }
}
