.accent-text {
  position: relative;
  padding-left: 20px;

  @media (min-width: $screen-sm) {
    padding-left: 30px;
  }

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    content: '';
    background-color: $primary-c;
  }

  p + & {
    margin-top: 1em;
  }
}
