.when-survey {
  @include section;
  background-color: $bg-c--shade;

  &__container {
    @include container;
  }

  &__title {
    @include title;
  }

  &__list {
    @include clear-list;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @media (min-width: $screen-xs) {
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-sm) {
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-md) {
      gap: 20px;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
  }

  &__figure {
    padding: 20px;
    margin: 0;
    background-color: #fff;

    @media (min-width: $screen-xs) {
      height: 100%;
    }

    @media (min-width: $screen-sm) {
      padding: 30px;
    }
  }

  &__figure-icon {
    display: block;
    width: 52px;
    height: 52px;
    margin-bottom: 30px;
  }

  &__figure-caption {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
  }
}
