.field-text {
  position: relative;
  display: block;
  width: 100%;

  &__title {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__input-wrap {
    position: relative;
    display: block;
  }

  &__input {
    display: inline-block;
    width: 100%;
    padding: 22px 30px;
    margin: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em;
    color: currentColor;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 0;

    &::placeholder {
      font-family: $font-f;
      color: currentColor;
      opacity: 0.25;
    }

    &:focus {
      border-color: $primary-c;
      outline: none;
    }

    @at-root textarea#{&} {
      height: auto;
      min-height: 198px;
      resize: vertical;
    }
  }
}
