.survey-rules {
  @include section;
  background-color: $bg-c--shade;

  &__container {
    @include container;
  }

  &__title {
    @include title;
  }

  &__text {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    a {
      color: $primary-c;
      text-decoration: none;
      word-break: break-word;
    }

    @media (min-width: $screen-sm) {
      gap: 40px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  &__main {
    max-width: 70ch;
  }

  &__accent {
    position: relative;
    max-width: 70ch;
    padding-left: 20px;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      content: '';
      background-color: $primary-c;
    }

    @media (min-width: $screen-sm) {
      padding-left: 30px;
    }
  }
}
