mixin order-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' order-card--' + modsList[i].trim();
      }
    }

  a.order-card(class=allMods, href='/')&attributes(attributes)
    .order-card__title!= props.title
    .order-card__desc!= props.desc
    .order-card__arrow
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 7', width='20', height='7')
        path(fill-rule='evenodd', d='M16.7528.139209l3.1043 3.024711c.1905.18561.1905.48655 0 .67216l-3.1043 3.02471c-.1905.18561-.4994.18561-.6899 0-.1905-.18561-.1905-.48655 0-.67216l2.2716-2.21334H0v-.95058h18.3345L16.0629.811367c-.1905-.185612-.1905-.486547 0-.672158.1905-.1856119.4994-.1856119.6899 0z', clip-rule='evenodd')