.order-card {
  position: relative;
  display: block;
  padding: 20px;
  color: #333;
  text-decoration: none;
  background-color: $bg-c--shade;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #d9d9d9;
    transition: transform 0.5s $transition-t;
    transform: scaleY(0);
    transform-origin: center bottom;
  }

  &:hover,
  &:focus {

    &::after {
      transform: scaleX(1);
      transform-origin: center top;
    }

    .order-card__arrow {
      opacity: 1;
      transform: translate3d(5px, -5px, 0) rotate(-45deg);
    }
  }

  @media (min-width: $screen-sm) {
    padding: 30px;
  }

  &__title {
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3em;
  }

  &__desc {
    position: relative;
    z-index: 2;
    font-size: 14px;
    line-height: 1.4em;
    opacity: 0.5;
  }

  &__arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    display: inline-flex;
    opacity: 0.5;
    transition: all 0.5s $transition-t;
    transform: rotate(-45deg);
    transform-origin: center right;

    @media (min-width: $screen-sm) {
      top: 30px;
      right: 30px;
    }
  }
}
