extends ../pug/layout.pug

block meta
  - var title = 'Changes';
  title= title
  meta(name='description', content='')

block content
  section.banner
    .banner__content
      .banner__container
        h1.banner__title
          | Наша
          br
          | специализация
        ul.banner__directions
          li: a(href='/') Разработка, актуализация и корректировка проекта межев
          li: a(href='/') Предварительная оценка градостроительного потенциала земельного участка
          li: a(href='/') Подготовка материалов по обоснованию вида разрешенного использования участка
          li: a(href='/') Экспресс анализ для определения возможных градостроительных мероприятий на территории
          li: a(href='/') Градостроительные расчеты
    .banner__media
      img(src='img/promo.jpg', alt='')



  section.changes
    .changes__container
      h2.changes__title
        | Внесение изменений
        br
        | в ПЗЗ
      .changes__info
        .changes__text
          p Разработка предварительной оценки градостроительного потенциала земельного участка или разработка материалов по обоснованию изменения вида разрешенного использования земельного участка являются  материалами  по обоснованию внесения изменений в ПЗЗ, т.е. в постановление Правительства Москвы от 28 марта 2017 г. N 120-ПП "Об утверждении правил землепользования и застройки города Москвы", что регламентируется постановлением Правительства Москвы от 17 мая 2018 г. N 457-ПП  «Об утверждении порядка направления и рассмотрения предложений о внесении изменений в правила землепользования и застройки города Москвы»
          p Указанные виды работ выполняются с целью обоснования следующих мероприятий:
          p
            | — Установление или изменение границ территориальных зон, подзон территориальных зон.
            br
            | — Изменение основных, условно-разрешенных, вспомогательных видов разрешенного использования земельных участков и объектов капитального строительства.
            br
            | — Установление или изменение предельных (минимальных и (или) максимальных) размеров земельных участков, в том числе их площади, а также изменения предельных параметров разрешенного строительства, реконструкции объектов капитального строительства.
          p Если правообладатель объекта недвижимости планирует провести реконструкцию или разместить на своем земельном участке новую застройку, но не имеет четких представлений о ее допустимых параметрах и функциональном назначении, возможно выполнение градостроительного экспресс-анализа территории с эскизом застройки участка на вариантной основе, что позволит с минимальными финансовыми и временными затратами оценить градостроительную ситуацию и найти наиболее оптимальный вариант для последующей более детальной проработки.
          p Градостроительные расчеты являются непременной частью любого градостроительного обоснования.
          p Они могут выполняться и в виде отдельной работы для освещения любых аспектов проектных решений. В частности, целесообразно их выполнение в тех случаях, когда требуется получить первое представление о направлении возможных градостроительных мероприятий и в части параметров планируемых объектов, и в части их функционального назначения на вариантной основе.
          .accent-text
            p В случае, если градостроительные мероприятия сопряжены с ограничениями, связанными с охранным статусом территории, мы можем предложить консультацию наших коллег из мастерской историко-градостроительной направленности.
        .changes__maps
          figure.changes__map-figure
            .changes__map
              img(src='img/map.png', alt='')
            figcaption.changes__map-caption
              h3.changes__map-title Карта ПЗЗ
              .changes__map-desc
                p Устанавливает границы территориальных зон и подзон, ограничения функционального использования участков и объемно-планировочных параметров строений.
          figure.changes__map-figure
            .changes__map
              img(src='img/map.png', alt='')
            figcaption.changes__map-caption
              h3.changes__map-title Публичная кадастровая карта
              .changes__map-desc
                p Информация о стоимости земельных участков, собственниках, дате введения объектов в эксплуатацию, а также показателях площади, этажности и годах строительства.

  +ask-a-question()
  +seo()