extends ../pug/layout.pug

block meta
  - var title = 'Contacts';
  title= title
  meta(name='description', content='')

block content
  section.banner
    .banner__content
      .banner__container
        .banner__blur-wrap
          h1.banner__title.banner__title--alone
            | Контакты
    .banner__media
      img(src='img/promo.jpg', alt='')



  .contacts
    .contacts__container
      section.contacts__section.contacts__section--info
        h2.contacts__title
          | Контактная
          br
          | инфорация
        ul.contacts__list
          li.contacts__item
            h3.contacts__subtitle Адрес
            address 123056 г. Москва, 2-я Брестская улица, д.9 с.1, 2 этаж
          li.contacts__item
            h3.contacts__subtitle Телефон
            a(href='tel:+74993489898') +7 (499) 348-98-98
          li.contacts__item
            h3.contacts__subtitle E-mail
            a(href='mailto:apm4grado@yandex.ru') apm4grado@yandex.ru
        +btn('Заказать звонок', '#get-a-call-modal')(data-fancybox='')
      section.contacts__section.contacts__section--get-in-touch
        h2.contacts__title
          | Задать вопрос,
          br
          | свяжитесь с нами
        +form().contacts__form
          +field-text({
            title: 'Комментарий',
            attrs: { placeholder: 'Placeholder' },
            isTextarea: true
          }).contacts__form-field
          +field-text({
            title: 'Имя',
            attrs: { placeholder: 'Placeholder' }
          }).contacts__form-field
          +field-text({
            title: 'Телефон',
            attrs: { placeholder: 'Placeholder' }
          }).contacts__form-field
          +field-actions()
            +btn('Отправить', '', 'ghost').contacts__form-submit



  .map
    .map__media
      img(src='img/route.jpg', alt='')
    .map__media
      img(src='img/big-map.jpg', alt='')