extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block content
  section.banner
    .banner__content
      .banner__container
        h1.banner__title
          | Наша
          br
          | специализация
        ul.banner__directions
          li: a(href='/') Разработка, актуализация и корректировка проекта межев
          li: a(href='/') Предварительная оценка градостроительного потенциала земельного участка
          li: a(href='/') Подготовка материалов по обоснованию вида разрешенного использования участка
          li: a(href='/') Экспресс анализ для определения возможных градостроительных мероприятий на территории
          li: a(href='/') Градостроительные расчеты
    .banner__media
      img(src='img/promo.jpg', alt='')



  section.about-us
    .about-us__media
      img(src='img/map.jpg', alt='')
    .about-us__content
      .about-us__container
        h2.about-us__title О нас
        .about-us__text
          p ООО «Архитектурно-Планировочная Мастерская - 4» создана в 2017 году в связи с реорганизацией крупного московского проектного института, в составе которого мастерская существовала с 1966 г. как подразделение градостроительной направленности с тем же названием.
          p Организация самостоятельного предприятия позволила сохранить наш трудовой коллектив с уникальным опытом работы, который насчитывает не одно десятилетие.
          p Наш коллектив составляют специалисты с высшим специальным образованием - архитекторы и инженеры с действительным опытом именно в тех видах работ, которые выполняет наша мастерская.



  section.about-survey
    .about-survey__container
      h2.about-survey__title Межевание
      .about-survey__text
        p Имеется в виду межевание как планировочная работа, определенная Градостроительным кодексом РФ (не путать план межевания с межевым планом, который является документом, выполняемым кадастровыми инженерами для постановки земельного участка на кадастровый учет).
        p Градостроительное межевание – нормативное и планировочное обоснование местоположения границ земельных участков и их частей для эксплуатации объектов капитального строительства. В соответствии с Земельным кодексом РФ проект межевания является основанием для формирования границ земельных участков при оформлении земельно-правовых отношений, поэтому обеспечение территории утвержденным проектом межевания необходимо для всех, кто планирует оформить договор аренды или зарегистрировать право собственности на земельный участок.
        p В основном территория города Москвы обеспечена такой документацией, выполненной за счет средств городского бюджета и частично за счет правообладателей объектов недвижимости, однако имеются кварталы, по которым проекты не разработаны. В этом случае юридические или физические лица могут заказать проект межевания за счет собственных средств. Если проект разработан и утвержден, но есть причины изменить границы установленных им участков, выполняется корректировка или актуализация ранее утвержденного проекта межевания. Заказчиками проекта выступают правообладатели объектов недвижимости - юридические лица или физические лица, например, жители Москвы или Новой Москвы, проживающие в многоквартирных или индивидуальных жилых домах.



  section.advantages
    .advantages__container
      h2.advantages__title
        | Наши
        br
        | преимущества
      ul.advantages__list
        li.advantages__item
          h3.advantages__term Большой опыт градостроительного проектирования
        li.advantages__item
          h3.advantages__term Владение методикой проектирования в исторической среде
        li.advantages__item
          h3.advantages__term Выполнение работ в установленные сроки
        li.advantages__item
          h3.advantages__term Стоимость работы не изменяется
        li.advantages__item
          h3.advantages__term Мы всегда на связи
        li.advantages__item
          h3.advantages__term Более 60 утвержденных проектов за 3 года
        li.advantages__item
          h3.advantages__term К нам возвращаются
        li.advantages__item
          h3.advantages__term Бесплатная консультация



  section.testimonials
    .testimonials__container
      h2.testimonials__title
        | Отзывы
        br
        | наших клиентов
      +slider-nav().testimonials__slider-nav
      .testimonials__slider
        .swiper-wrapper
          .swiper-slide
            a.testimonials__item(data-fancybox='testimonials', data-src='img/testimonial-1.jpg')
              img(src='img/testimonial-1.jpg', alt='')
          .swiper-slide
            a.testimonials__item(data-fancybox='testimonials', data-src='img/testimonial-2.jpg')
              img(src='img/testimonial-2.jpg', alt='')
          .swiper-slide
            a.testimonials__item(data-fancybox='testimonials', data-src='img/testimonial-3.jpg')
              img(src='img/testimonial-3.jpg', alt='')
          .swiper-slide
            a.testimonials__item(data-fancybox='testimonials', data-src='img/testimonial-4.jpg')
              img(src='img/testimonial-4.jpg', alt='')
          .swiper-slide
            a.testimonials__item(data-fancybox='testimonials', data-src='img/testimonial-1.jpg')
              img(src='img/testimonial-1.jpg', alt='')
          .swiper-slide
            a.testimonials__item(data-fancybox='testimonials', data-src='img/testimonial-2.jpg')
              img(src='img/testimonial-2.jpg', alt='')



  +ask-a-question()
  +seo()