extends ../pug/layout.pug

block meta
  - var title = 'Order';
  title= title
  meta(name='description', content='')

block content
  section.banner
    .banner__content
      .banner__container
        .banner__blur-wrap
          h1.banner__title
            | Подготовка материалов для обращения в ДГИ о распоряжении 5 рабочих дней
          span.banner__subtitle Разработка проекта 10-15 рабочих дней.
    .banner__media
      img(src='img/promo.jpg', alt='')



  section.about-order
    .about-order__container
      h2.about-order__title
        | Как
        br
        | происходит заказ
      .about-order__info
        .about-order__media
          img(src='img/map.jpg', alt='')
        .about-order__text
          p Все работы, связанные с земельными отношениями, непростые и небыстрые. Каждый участок является уникальной градостроительной единицей, каждая ситуация требует детального рассмотрения и индивидуального подхода.
          p Для принятия решения о возможности выполнения такой работы, до заключения договора на разработку проекта межевания или его корректировки необходимо рассмотреть множество различных факторов, оценить возможные сложности и шансы на положительное решение вопроса, выработать алгоритм решения поставленной задачи, исходя из ее специфики. Для этого мы проводим первичные бесплатные консультации.
          p Мы можем рассмотреть Ваш вопрос как у нас в мастерской, так и заочно, посредством электронной почты. Для этого Вам необходимо направить на адрес нашей почты письмо в свободной форме, с приложением любых материалов, из которых будут понятны Ваши намерения. Мы ответим в короткие сроки по сути вопроса и сориентируем по стоимости и срокам выполнения работ. При необходимости договоримся о встрече.
          p Договор предусматривает весь комплекс от разработки проекта до его утверждения. Все правки, которые могут потребоваться по замечаниям согласующих инстанций, входят в стоимость договора. Таким образом, цена в процессе работы не подлежит изменению.
        .accent-text.about-order__accent
          p Подготовка материалов для обращения в ДГИ о распоряжении 5 рабочих дней
        .accent-text.about-order__accent
          p Разработка проекта 10-15 рабочих дней



  +ask-a-question()
  +seo()