extends ../pug/layout.pug

block meta
  - var title = 'Order';
  title= title
  meta(name='description', content='')

block content
  section.banner
    .banner__content
      .banner__container
        .banner__blur-wrap
          h1.banner__title.banner__title--alone
            | Наши проекты
    .banner__media
      img(src='img/promo.jpg', alt='')



  section.order-examples
    .order-examples__container
      h2.order-examples__title
        | Примеры распоряжений
        br
        | ДГИ об утверждении ПМТ
      ul.order-examples__list
        li.order-examples__item
          +order-card({
            title: 'Армянская церковь, ул. Советской Армии [№ 4658]',
            desc: '01.03.069.2018'
          })
        li.order-examples__item
          +order-card({
            title: 'Здание МВД, Пятницкая ул. [№ 18809]',
            desc: '01.05.059.2018'
          })
        li.order-examples__item
          +order-card({
            title: 'Технопарк, Курьяновский пр-т [№ 15997]',
            desc: '04.08.100.2019'
          })



  section.release
    .release__container
      h2.release__title
        | Форма
        br
        | выпуска
      .release__info
        .release__intro
          .release__text
            p Окончательная работа представляется в двух томах. Образец готового проекта.
          h3.release__subtitle Последние утвержденные проекты
          +btn('Скачать', '/')
        .release__docs
          ul.release__docs-list
            li.release__docs-item
              +file-card({
                title: 'Том 1. Утверждаемая часть проекта',
                desc: '1.7МБ'
              })
            li.release__docs-item
              +file-card({
                title: 'Том 2. Материалы по обоснованию',
                desc: '5.3МБ'
              })
          +btn('Скачать файл', '/').release__docs-download



  section.acts
    .acts__container
      h2.acts__title
        | Нормативно-правовые акты
        br
        | по теме
      ul.acts__list
        li.acts__item
          +file-card({
            title: 'Том 1. Утверждаемая часть проекта',
            desc: '1.7МБ',
            mods: 'dark'
          })
        li.acts__item
          +file-card({
            title: 'Том 2. Утверждаемая часть проекта',
            desc: '2.1МБ',
            mods: 'dark'
          })
        li.acts__item
          +file-card({
            title: 'Том 3. Утверждаемая часть проекта',
            desc: '0.9МБ',
            mods: 'dark'
          })