extends ../pug/layout.pug

block meta
  - var title = 'Survey';
  title= title
  meta(name='description', content='')

block content
  section.banner
    .banner__content
      .banner__container
        h1.banner__title
          | Наша
          br
          | специализация
        ul.banner__directions
          li: a(href='/') Разработка, актуализация и корректировка проекта межев
          li: a(href='/') Предварительная оценка градостроительного потенциала земельного участка
          li: a(href='/') Подготовка материалов по обоснованию вида разрешенного использования участка
          li: a(href='/') Экспресс анализ для определения возможных градостроительных мероприятий на территории
          li: a(href='/') Градостроительные расчеты
    .banner__media
      img(src='img/promo.jpg', alt='')


  section.when-survey
    .when-survey__container
      h2.when-survey__title
        | Когда может
        br
        | потребоваться межевание?
      ul.when-survey__list
        li.when-survey__item
          figure.when-survey__figure
            img.when-survey__figure-icon(src='img/union.svg', alt='', width='52', height='52')
            figcaption.when-survey__figure-caption Объединение ранее сформированных участков
        li.when-survey__item
          figure.when-survey__figure
            img.when-survey__figure-icon(src='img/increase.svg', alt='', width='52', height='52')
            figcaption.when-survey__figure-caption Увеличение участка за счет прилегающей территории
        li.when-survey__item
          figure.when-survey__figure
            img.when-survey__figure-icon(src='img/clearing.svg', alt='', width='52', height='52')
            figcaption.when-survey__figure-caption Уточнение границ земельного участка
        li.when-survey__item
          figure.when-survey__figure
            img.when-survey__figure-icon(src='img/separation.svg', alt='', width='52', height='52')
            figcaption.when-survey__figure-caption Разделение участка
        li.when-survey__item
          figure.when-survey__figure
            img.when-survey__figure-icon(src='img/sum.svg', alt='', width='52', height='52')
            figcaption.when-survey__figure-caption Приведение участка к фактическому землепользованию



  .gallery
    .gallery__container
      .gallery__slider-main
        .swiper-wrapper
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
      .gallery__slider-thumbs
        .swiper-wrapper
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
          .swiper-slide
            img(src='img/gallery-example.jpg', alt='')
      +slider-nav().gallery__slider-nav



  section.survey-rules
    .survey-rules__container
      h2.survey-rules__title
        | Порядок разработки
        br
        | проекта межевания
      .survey-rules__text
        .survey-rules__main
          p
            | Наша работа включает полный цикл от производства планировочной документации и ее согласования до выпуска распоряжения &#x20;
            a(href='/') Департамента городского имущества г. Москвы
            |  об утверждении проекта с публикацией на официальном сайте.
        .survey-rules__accent
          p
            | Порядок разработки первичного &#x20;
            a(href='/') проекта межевания
            |  или корректировки/актуализации проекта межевания определен &#x20;
            a(href='/') постановлением Правительства Москвы
            |  от 26 декабря 2017 г. № 1089-ПП «Об утверждении Порядка подготовки, согласования и утверждения проектов межевания территории, подготавливаемых в виде отдельного документа, в городе Москве» (в редакции постановления Правительства Москвы от 24 апреля 2020 г. № 457-ПП).



  section.survey-stages
    .survey-stages__container
      h2.survey-stages__title
        | Этапы
        br
        | разработки проекта
      .survey-stages__info
        ul.survey-stages__list
          li.survey-stages__item
            h3.survey-stages__item-title Обращение в Департамент городского имущества города Москвы о выпуске распорядительного документа о разработке или корректировке проекта межевания.
            .survey-stages__item-text
              p Вобращении указывается мотивация разработкипроекта межевания илиего корректировки, при необходимостидается нормативноеобоснование.Обязателен графическийматериал, иллюстрирующий Ваши намерения и показывающий границы разработки проекта (на этом этапецелесообразно подключать специалиста для подготовки обоснования и эскиза плана межевания).
          li.survey-stages__item
            h3.survey-stages__item-title Разработка или корректировка проекта межевания в соответствии с распорядительным документом Департамента городского имущества города Москвы.
            .survey-stages__item-text
              p
                | Материалы выполняются в соответствии с &#x20;
                span установленны митребованиями,
                |  собязательным выездомспециалистов для обследования территории и фотофиксации.
          li.survey-stages__item
            h3.survey-stages__item-title
              | Согласование материалов &#x20;
              span Москомархитектурой и Департаментом имущества города Москвы.
            .survey-stages__item-text
              p Согласование идет в последовательном режиме. При необходимости проект дорабатывается по замечаниям согласующих инстанций.
          li.survey-stages__item
            h3.survey-stages__item-title
              | Согласованный в установленном направляется для проведения &#x20;
              span общественных
              |  обсуждений в электронном формате.
            .survey-stages__item-text
              p Электронный формат общественных обсуждений введенв соответствии с постановлением Правительства Москвы от 30.04.2019 г. № 448-ПП. При необходимости материалы проекта дорабатываются на основании Заключения о результатахобщественных обсуждений. Производится подготовка графическихфайлов в специальных форматах для информационной базы Департамента городского имущества города Москвы.
          li.survey-stages__item
            h3.survey-stages__item-title Проект направляется в Департамент городского имущества города Москвы на утверждение.
            .survey-stages__item-text
              p После утверждения проект межевания подлежит публикации на сайте Департамента городского имущества города Москвы. Выполняется печать тиража утвержденного проекта для сдачи Заказчику.
        .survey-stages__authorities
          h4.survey-stages__authorities-title Согласующие инстанции
          ul.survey-stages__authorities-list
            li.survey-stages__authorities-item
              a(href='/')
                img(src='img/authority-1.png', alt='', width='120', height='120')
            li.survey-stages__authorities-item
              a(href='/')
                img(src='img/authority-2.png', alt='', width='120', height='120')



  +ask-a-question()
  +seo()