mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods)&attributes(attributes)
    .page-footer__container
      .page-footer__section.page-footer__section--nav
        h3.page-footer__subtitle Информация
        ul.page-footer__list
          li: a(href='/') Главная
          li: a(href='/') О нас
          li: a(href='/') Межжевание
          li: a(href='/') Заказ
          li: a(href='/') Проекты
          li: a(href='/') Контакты
      .page-footer__section.page-footer__section--contacts
        h3.page-footer__subtitle Контакты
        ul.page-footer__list
          li: address 123056, Москва, 2-я Брестская улица, дом 9, с. 1, 2-й этаж
          li: a(href='tel:+74993489898') +7 (499) 348-98-98
          li: a(href='mailto:apm4grado@yandex.ru') apm4grado@yandex.ru
      .page-footer__logo-wrap
        a.logo(href='/')
          img(src='img/logo.svg', alt='', width='120', height='80')
      .page-footer__copyright © 2021 — Apm4
      +btn('Заказать звонок', '#get-a-call-modal')(data-fancybox='').page-footer__get-in-touch