.page-footer {
  padding: 45px 20px 0;
  background-color: $bg-c--shade;

  @media (min-width: $screen-sm) {
    padding: 60px 20px 0;
  }

  &__container {
    @include container;
    display: grid;
    grid-template:
      'nav logo'
      'contacts .'
      'copyright get-in-touch' / 1fr 1fr;
    gap: 45px 10px;

    @media (min-width: $screen-sm) {
      grid-template:
        'nav contacts . logo'
        'copyright . . get-in-touch' / 1fr 1fr 1fr 1fr;
      gap: 75px 40px;
    }
  }

  &__section {

    &--nav {
      grid-area: nav;
    }

    &--contacts {
      grid-area: contacts;
    }
  }

  &__subtitle {
    margin: 0 0 30px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4em;
    opacity: 0.5;
  }

  &__list {
    @include clear-list;

    li {
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 1.4em;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    a {
      color: currentColor;
      text-decoration: none;
      transition: all 125ms $transition-t;

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  }

  &__logo-wrap {
    display: flex;
    grid-area: logo;
    align-self: start;
    justify-content: flex-end;
  }

  &__copyright {
    grid-area: copyright;
    align-self: center;
    font-size: 12px;
    line-height: 1.4em;
    opacity: 0.5;
  }

  &__get-in-touch {
    grid-area: get-in-touch;

    @media (min-width: $screen-sm) {
      min-height: 70px;
    }
  }
}
