.contacts {
  @include section;
  background-color: $bg-c--shade;

  &__container {
    @include container;
    display: grid;
    gap: 45px;
    grid-template: 'info' 'get-in-touch' / 1fr;

    @media (min-width: $screen-sm) {
      gap: 45px 40px;
      grid-template: 'info get-in-touch' / 1fr 1fr;
    }
  }

  &__section {

    &--info {
      grid-area: info;
    }

    &--get-in-touch {
      grid-area: get-in-touch;
    }
  }

  &__title {
    @include title;
  }

  &__list {
    @include clear-list;
    margin-bottom: 30px;
  }

  &__item {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    a {
      color: currentColor;
      text-decoration: none;
    }
  }

  &__subtitle {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4em;
    opacity: 0.5;
  }

  &__form-field {
    margin-bottom: 20px;
  }

  &__form-submit {
    width: 100%;
    min-height: 90px;
    margin-top: 15px;
  }
}
