mixin file-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' file-card--' + modsList[i].trim();
      }
    }

  a.file-card(class=allMods, href='/')&attributes(attributes)
    .file-card__icon
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 32 40', width='32', height='40')
        path(fill-rule='evenodd', d='M0 .420639C0 .188368.187289.0000755.418322.0000755H24.8856c.111 0 .2174.0443092.2958.1231805l6.696 6.731874c.0785.07887.1225.18584.1225.29738V39.5794c0 .2323-.1872.4206-.4183.4206H.418322C.187289 40 0 39.8117 0 39.5794V.420639zm.836644.420563V39.1589H31.1633V7.32671L24.7124.841202H.836644z', clip-rule='evenodd')
        path(fill-rule='evenodd', d='M24.7255.032004c.1563-.0650952.3363-.02902865.4559.091252l6.696 6.731874c.1197.12028.1554.30108.0907.45824-.0648.15715-.2173.25962-.3865.25962h-6.696c-.2311 0-.4183-.1883-.4183-.42057V.420554c0-.170102.1019-.3234548.2582-.38855zm.5784 1.403876v5.29598h5.2678l-5.2678-5.29598z', clip-rule='evenodd')
        path(d='M5.33301 23.0082h.98227v.9917h-.98227v-.9917zM7.53251 23.2636h.83071v-5.203h-.83071v-.7273h3.10679c.4059 0 .8118.0283 1.1427.1793.6891.2926 1.1333 1.0012 1.1333 1.8885 0 .9346-.4908 1.6903-1.256 1.9546-.3115.1133-.633.1416-1.0011.1416H9.30773v1.7658h.84067v.7363H7.53251v-.7358zm3.01189-2.5404c.302 0 .538-.0472.7462-.1321.4248-.1888.6703-.6136.6703-1.19 0-.5381-.2172-.9351-.5948-1.1333-.2076-.1133-.4914-.1605-.8123-.1605H9.30773v2.6154l1.23667.0005zM13.6967 23.2636h.8307v-5.203h-.8307v-.7273h2.8425c.5569 0 .9723.0283 1.4165.1604 1.2749.3965 2.1056 1.5487 2.1056 3.1729 0 1.6147-.8024 2.7386-2.1056 3.1539-.4343.1416-.8779.1794-1.4071.1794h-2.8519v-.7363zm2.7947-.0383c.4348 0 .7935-.0377 1.1333-.1699.8968-.3115 1.4543-1.1706 1.4543-2.3888 0-1.2277-.5569-2.0868-1.4448-2.4077-.3682-.1322-.708-.1511-1.1428-.1511h-1.0195v5.118l1.0195-.0005zM20.9844 23.2636h.8307v-5.203h-.8307v-.7273h4.6176v1.5769h-.8212v-.7646h-2.0207v2.2095h2.3039v.7746h-2.3039v2.1339h.9068v.7363h-2.6825v-.7363z')

    .file-card__info
      .file-card__title!= props.title
      .file-card__desc!= props.desc
    .file-card__arrow
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 7 20', width='7', height='20')
        path(fill-rule='evenodd', d='M6.86079 16.7528l-3.02471 3.1043c-.18561.1905-.48655.1905-.67216 0L.139208 16.7528c-.1856116-.1905-.1856115-.4994 0-.6899.185611-.1905.486547-.1905.672158 0l2.213344 2.2716V-1.7e-7l.95058 4e-8V18.3345l2.21334-2.2716c.18561-.1905.48655-.1905.67216 0s.18561.4994 0 .6899z', clip-rule='evenodd', opacity='.5')
