.map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__media {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;

    &::after {
      display: block;
      padding-bottom: 100%;
      content: '';
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: $screen-xs) {
      width: 50%;
    }
  }
}
