.changes {
  @include section;

  &__container {
    @include container;
  }

  &__title {
    @include title;
  }

  &__info {

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 40px;
      grid-template: 'text maps' / 3fr 1fr;
    }
  }

  &__text {

    @media (min-width: $screen-sm) {
      grid-area: text;
    }
  }

  &__maps {
    margin-top: 30px;

    @media (min-width: $screen-sm) {
      grid-area: maps;
      margin: 0;
    }
  }

  &__map-figure {
    margin: 0;

    & + & {
      margin-top: 30px;
    }
  }

  &__map {
    margin-bottom: 10px;

    img {
      display: block;
    }
  }

  &__map-title {
    margin: 0 0 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4em;
  }

  &__desc {
    margin: 0;
    font-size: 14px;
    line-height: 1.4em;
  }
}
