.advantages {
  @include section;

  &__container {
    @include container;
  }

  &__title {
    @include title;
  }

  &__list {
    @include clear-list;
    display: grid;
    counter-reset: advantages;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @media (min-width: $screen-xs) {
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-md) {
      gap: 40px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-lg) {
      gap: 40px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    position: relative;
    padding: 20px;
    margin: 0;
    counter-increment: advantages;
    background-color: $bg-c--shade;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
    }

    &::before {
      position: relative;
      display: block;
      margin-bottom: 30px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.4em;
      content: '/ ' counter(advantages, decimal-leading-zero);
    }

    @media (min-width: $screen-sm) {
      padding: 30px;

      &::before {
        margin-bottom: 45px;
      }
    }
  }

  &__term {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3em;
  }
}
