.ask-a-question {
  @include section;
  background-color: $bg-c--shade;

  &__container {
    @include container;
  }

  &__title {
    @include title;
  }

  &__form {
    display: grid;
    gap: 15px;
    grid-template: 'comment' 'name' 'e-mail' 'actions' / 1fr;

    @media (min-width: $screen-sm) {
      gap: 30px 40px;
      grid-template:
        'comment name'
        'comment e-mail'
        'actions actions' / 1fr 1fr;
    }
  }

  &__field {

    &--comment {

      @media (min-width: $screen-sm) {
        grid-area: comment;
      }
    }

    &--name {

      @media (min-width: $screen-sm) {
        grid-area: name;
      }
    }

    &--e-mail {

      @media (min-width: $screen-sm) {
        grid-area: e-mail;
      }
    }

    &--actions {

      @media (min-width: $screen-sm) {
        grid-area: actions;
      }
    }
  }
}
