mixin ask-a-question()

  section.ask-a-question
    .ask-a-question__container
      h2.ask-a-question__title
        | Задать вопрос,
        br
        | получить бесплатную консультацию
      +form().ask-a-question__form
        +field-text({
          title: 'Комментарий',
          attrs: { placeholder: 'Placeholder' },
          isTextarea: true
        }).ask-a-question__field.ask-a-question__field--comment
        +field-text({
          title: 'Имя',
          attrs: { placeholder: 'Placeholder' }
        }).ask-a-question__field.ask-a-question__field--name
        +field-text({
          title: 'Телефон',
          attrs: { placeholder: 'Placeholder' }
        }).ask-a-question__field.ask-a-question__field--e-mail
        +field-actions().ask-a-question__field.ask-a-question__field--actions
          +btn('Отправить', '', 'ghost')