.about-us {
  position: relative;

  @media (min-width: $screen-md) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__media {
    position: relative;

    &::after {
      display: block;
      padding-bottom: 100%;
      content: '';
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: $screen-md) {
      flex: 0 0 auto;
      width: 50%;
      max-width: 100%;
    }
  }

  &__content {
    padding: 45px 20px;

    @media (min-width: $screen-md) {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      width: 50%;
      max-width: 100%;
    }
  }

  &__container {

    @media (min-width: $screen-md) {
      width: 100%;
      max-width: calc(1320px / 2 - 20px);
      padding-left: 20px;
      margin-right: auto;
    }
  }

  &__title {
    @include title;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5em;

    @media (min-width: $screen-md) {
      font-size: 18px;
    }
  }
}
