.acts {
  @include section;
  color: #fff;
  background-color: #333;

  &__container {
    @include container;
  }

  &__title {
    @include title;
  }

  &__list {
    @include clear-list;
  }

  &__item {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
