.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  color: currentColor;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background-color: currentColor;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background-color: currentColor;
    }

    &::before {
      transform: translateY(-8px);
    }

    &::after {
      transform: translateY(8px);
    }
  }

  &--is-active {

    span {
      transform: rotate(-45deg);

      &::before {
        transform: translateY(0) rotate(90deg);
      }

      &::after {
        transform: translateY(0);
      }
    }
  }
}
