// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$text-c: #282f33;
$text-c--light: #fff;

$bg-c: #fff;
$bg-c--shade: #f2f2f2;
$bg-c--dark: $text-c;

$primary-c: #cc0000;

// Semantic colors
$success-c: #16c98d;
$warning-c: #ffc83f;
$danger-c: #fa5e5b;

// Fonts
$font-f: 'Cera Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
$font-f--monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

// Misc
$border-c: rgba($text-c, 0.125);
$border-r: 4px;
$transition-t: cubic-bezier(0.15, 0.85, 0.45, 1);
