.get-a-call-modal {

  &__title {
    max-width: 30ch;
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.1em;
    letter-spacing: -0.01em;
  }

  &__desc {
    margin-bottom: 1.5rem;
    font-size: 14px;
    line-height: 1.45em;
  }

  &__field {
    margin-bottom: 15px;
  }

  &__actions {
    margin-top: 45px;
  }

  &__submit {
    width: 100%;
    min-height: 90px;
  }
}
