mixin get-a-call-modal

  .get-a-call-modal(id='get-a-call-modal', style='display: none; width: 500px;')
    h2.get-a-call-modal__title
      | Оставьте заявку
      br
      | и мы вам перезвоним!
    p.get-a-call-modal__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem reprehenderit quae accusantium esse tempore.
    +form()
      +field-text({
        title: 'Имя',
        val: '',
        attrs: {
          name: 'name'
        }
      }).get-a-call-modal__field
      +field-text({
        title: 'Телефон',
        val: '',
        attrs: {
          name: 'phone'
        }
      }).get-a-call-modal__field
      +field-actions().get-a-call-modal__actions
        +btn('Отправить заявку').get-a-call-modal__submit